<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-target="#bs-example-navbar-collapse-1"
      aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  </div>
  <div class="navbar-collapse" id="bs-example-navbar-collapse-1" [collapse]="false">
    <ul class="nav navbar-nav">
      <li><a routerLink='/settings'> Settings | </a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a routerLink='/hardware'> Hardware | </a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a routerLink='/cameras'> Cameras | </a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a routerLink='/switches'> LazyBones | </a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a routerLink='/wallmounts'> Wallmount switches | </a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a routerLink='/danalocks'> DanaLocks | </a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a routerLink='/log'> System/Device logs | </a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a routerLink='/openzwavelog'> OpenZWave Logs </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="margin-top: 7px;">
      <li>
        <button class="btn btn-primary" (click)="login()" *ngIf="!isAuthenticated && !currentPageIsLogin()">Log In</button>
        <button class="btn btn-primary" (click)="logout()" *ngIf="isAuthenticated">Log Out</button>
      </li>
    </ul>
  </div>
</nav>
