[submodule "open-zwave"]
	path = open-zwave
	url = https://github.com/OpenZWave/open-zwave.git
	branch = Dev
[submodule "restup"]
	path = restup
	url = https://github.com/tomkuijsten/restup.git
	branch = feature-implement-basic-authorization
