[submodule "open-zwave"]
	path = open-zwave
	url = https://github.com/OpenZWave/open-zwave.git
	branch = Dev
[submodule "restup"]
	path = restup
	url = https://github.com/wimvandenrul/restup.git
	branch = feature-implement-basic-authorization
[submodule "restup"]
	path = zwave-app
	url = https://github.com/OpenZWave/openzwave-dotnet-uwp
	branch = master
