<form class="form-horizontal" (ngSubmit)="onSubmit(form)" novalidate>

  <fieldset>
    <legend>Logging</legend>
    <div class="form-group">
      <label for="inputHistoryLog" class="col-sm-2 control-label">History log (days)</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="settings.HistoryLog" id="inputHistoryLog" name="inputHistoryLog" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label for="inputLogLevel" class="col-sm-2 control-label">Log level (logging selected level and higher)</label>
      <div class="col-sm-10">
        <select required [(ngModel)]="settings.LogLevel" name="logLevel" id="inputLogLevel" class="form-control">
          <option value="">--</option>
          <option *ngFor="let logLevelOption of logLevelOptions" value="{{logLevelOption}}">{{logLevelOption}}</option>
        </select>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Azure</legend>


    <div class="">
      <h4>IoT Gateway Device Key</h4>
      <div class="form-group">
        <label for="inputGatewayDeviceKey" class="col-sm-2 control-label">Azure Gateway Device Key</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="settings.GatewayDeviceKey" id="inputGatewayDeviceKey" name="inputGatewayDeviceKey"
            placeholder="">
        </div>
      </div>
    </div>

    <div class="">
      <h4>IoT Hub settings</h4>
      <div class="form-group">
        <label for="inputAzureIotHubUri" class="col-sm-2 control-label">Azure IoT Hub URI</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="settings.AzureIotHubUri" id="inputAzureIotHubUri" name="inputAzureIotHubUri"
            placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAzureIotHubConnectionString" class="col-sm-2 control-label">Azure IoT Hub Connectionstring</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputAzureIotHubConnectionString" name="inputAzureIotHubConnectionString" [(ngModel)]="settings.AzureIotHubUriConnectionString"
            placeholder="">
        </div>
      </div>
    </div>

    <div class="">
      <h4>Blob storage settings</h4>
      <div class="form-group">
        <label for="inputAzureIotHub" class="col-sm-2 control-label">Azure account name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputAzureAccountName" name="inputAzureAccountName" [(ngModel)]="settings.AzureAccountName"
            placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputUsername" class="col-sm-2 control-label">Azure storage access key</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputAzureStorageAccessKey" name="inputAzureStorageAccessKey" [(ngModel)]="settings.AzureStorageAccessKey"
            placeholder="Admin">
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Dropbox</legend>
    <div class="form-group">
      <label for="inputAzureIotHubUri" class="col-sm-2 control-label">Dropbox Access token</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputDropboxAccessToken" name="inputDropboxAccessToken" [(ngModel)]="settings.DropboxAccessToken"
          placeholder="">
      </div>
    </div>
  </fieldset>

  <button type="submit" class="btn btn-default">Save</button>

</form>
