
<form class="form-horizontal" (ngSubmit)="onSubmit(form)" novalidate>

  <fieldset>
    <legend>System</legend>
    <div class="form-group">
      <label for="inputHistoryLog" class="col-sm-2 control-label">History log (days)</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="settings.historyLog" id="inputHistoryLog" name="inputHistoryLog" placeholder="">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Azure</legend>

    <div class="">
      <h4>IoT Hub settings</h4>
      <div class="form-group">
        <label for="inputAzureIotHubUri" class="col-sm-2 control-label">Azure IoT Hub URI</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="settings.azureIotHubUri" id="inputAzureIotHubUri" name="inputAzureIotHubUri" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAzureIotHubConnectionString" class="col-sm-2 control-label">Azure IoT Hub Connectionstring</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputAzureIotHubConnectionString" name="inputAzureIotHubConnectionString" [(ngModel)]="settings.azureIotHubUriConnectionString" placeholder="">
        </div>
      </div>
    </div>

    <div class="">
      <h4>Blob storage settings</h4>
      <div class="form-group">
        <label for="inputAzureIotHub" class="col-sm-2 control-label">Azure account name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputAzureAccountName" name="inputAzureAccountName" [(ngModel)]="settings.azureAccountName" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputUsername" class="col-sm-2 control-label">Azure storage access key</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputAzureStorageAccessKey" name="inputAzureStorageAccessKey" [(ngModel)]="settings.azureStorageAccessKey" placeholder="Admin">
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Dropbox</legend>
    <div class="form-group">
      <label for="inputAzureIotHubUri" class="col-sm-2 control-label">Dropbox Access token</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputDropboxAccessToken" name="inputDropboxAccessToken" [(ngModel)]="settings.dropboxAccessToken" placeholder="">
      </div>
    </div>
  </fieldset>

  <button type="submit" class="btn btn-default">Save</button>

</form>
