<h2>ZWave</h2>

<div class="row form-group">
  <div class="col-md-8">
    <button type="button" class="btn btn-primary" (click)="addNode(false)">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Node
    </button>
    <button type="button" class="btn btn-primary" (click)="addNode(true)">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Secure Node
    </button>
    <button type="button" class="btn btn-primary" (click)="removeNode()">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove Node
    </button>
    <button type="button" class="btn btn-primary" (click)="softReset()">
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Soft Reset
    </button>
    <button type="button" class="btn btn-primary" (click)="heal()">
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Heal
    </button>
  </div>
</div>

<div class="row form-group">
  <div class="col-md-12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Icon</th>
          <th>Id</th>
          <th>Label</th>
          <th>Product</th>
          <th>Manufacturer</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let node of nodes" class="node-row">
          <td class="node-image">
            <img [attr.src]="node.DeviceIcon" />
          </td>
          <td>{{node.Id}}</td>
          <td>{{node.Label}}</td>
          <td>{{node.Product}}</td>
          <td>{{node.Manufacturer}}</td>
          <td>
            <button type="button" (click)="show(node, $event)" class="btn btn-default">Show Values</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<modal #modal>
  <div class="app-modal-header">
    <h2>Values</h2>
  </div>
  <div class="app-modal-body">
    <div class="row form-group">
      <div class="col-md-12">
        <h4>User Values</h4>
        <table class="table table-striped table-bordered" *ngIf="node">
          <thead>
            <tr>
              <th>Label</th>
              <th>Value</th>
              <th>Unit</th>
              <th>Id</th>
              <th>Type</th>
              <th>Index</th>
              <th>Instance</th>
              <th>CommandClassId</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let value of node.UserValues" class="node-row">
              <td>{{value.Label}}</td>
              <td>{{value.Value}}</td>
              <td>{{value.Unit}}</td>
              <td>{{value.Id}}</td>
              <td>{{value.Type}}</td>
              <td>{{value.Index}}</td>
              <td>{{value.Instance}}</td>
              <td>{{value.CommandClassId}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <h4>Basic Values</h4>
        <table class="table table-striped table-bordered" *ngIf="node">
          <thead>
            <tr>
              <th>Label</th>
              <th>Value</th>
              <th>Unit</th>
              <th>Id</th>
              <th>Type</th>
              <th>Index</th>
              <th>Instance</th>
              <th>CommandClassId</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let value of node.BasicValues" class="node-row">
              <td>{{value.Label}}</td>
              <td>{{value.Value}}</td>
              <td>{{value.Unit}}</td>
              <td>{{value.Id}}</td>
              <td>{{value.Type}}</td>
              <td>{{value.Index}}</td>
              <td>{{value.Instance}}</td>
              <td>{{value.CommandClassId}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <h4>System Values</h4>
        <table class="table table-striped table-bordered" *ngIf="node">
          <thead>
            <tr>
              <th>Label</th>
              <th>Value</th>
              <th>Unit</th>
              <th>Id</th>
              <th>Type</th>
              <th>Index</th>
              <th>Instance</th>
              <th>CommandClassId</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let value of node.SystemValues" class="node-row">
              <td>{{value.Label}}</td>
              <td>{{value.Value}}</td>
              <td>{{value.Unit}}</td>
              <td>{{value.Id}}</td>
              <td>{{value.Type}}</td>
              <td>{{value.Index}}</td>
              <td>{{value.Instance}}</td>
              <td>{{value.CommandClassId}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <h4>Config Values</h4>
        <table class="table table-striped table-bordered" *ngIf="node">
          <thead>
            <tr>
              <th>Label</th>
              <th>Value</th>
              <th>Unit</th>
              <th>Id</th>
              <th>Type</th>
              <th>Index</th>
              <th>Instance</th>
              <th>CommandClassId</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let value of node.ConfigValues" class="node-row">
              <td>{{value.Label}}</td>
              <td>{{value.Value}}</td>
              <td>{{value.Unit}}</td>
              <td>{{value.Id}}</td>
              <td>{{value.Type}}</td>
              <td>{{value.Index}}</td>
              <td>{{value.Instance}}</td>
              <td>{{value.CommandClassId}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
  </div>
</modal>