<h2>ZWAVE</h2>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Icon</th>
      <th>Id</th>
      <th>Label</th>
      <th>Product</th>
      <th>Manufacturer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let node of nodes" class="node-row">
      <td class="node-image"><img [attr.src]="node.DeviceIcon" /></td>
      <td>{{node.Id}}</td>
      <td>{{node.Label}}</td>
      <td>{{node.Product}}</td>
      <td>{{node.Manufacturer}}</td>
    </tr>
  </tbody>
</table>

<!--<h3>Add hardware</h3>

<form (ngSubmit)="onSubmit(form)" novalidate>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" [(ngModel)]="device.name" placeholder="">
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <select required [(ngModel)]="device.type" name="deviceType" id="deviceType" class="form-control">
      <option value="">--</option>
      <option *ngFor="let deviceType of deviceTypes" value="{{deviceType.id}}">{{deviceType.name}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>-->
