<h2>HARDWARE</h2>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Guid</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let device of devices">
      <td>{{device.Name}}</td>
      <td>{{device.Type}}</td>
      <td>{{device.DeviceId}}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteDevice(device)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<h3>Add hardware</h3>

<form (ngSubmit)="onSubmit(form)" novalidate>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" [(ngModel)]="device.name" placeholder="">
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <select required [(ngModel)]="device.type" name="deviceType" id="deviceType" class="form-control">
      <option value="">--</option>
      <option *ngFor="let deviceType of deviceTypes" value="{{deviceType.id}}">{{deviceType.name}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default">Save</button>
</form>
