<h2>Cameras</h2>

<style type="text/css">
  .top-buffer {
    margin-top: 20px;
  }

  .table tr.active td {
    background-color: #123456 !important;
    color: white;
  }
</style>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Device ID</th>
          <th>Name</th>
          <th>MotionEye Identifier</th>
          <th>IP Address</th>
          <th>Enabled</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let camera of cameras; let i=index" (click)="setClickedRow(i, camera)" [class.active]="i == selectedRowIndex">
          <td>{{camera.DeviceId}}</td>
          <td>{{camera.Name}}</td>
          <td>{{camera.MotionEyeIdentifier}}</td>
          <td>{{camera.Address}}</td>
          <td>{{camera.Enabled}}</td>
          <td>
            <button type="button" (click)="testConnection(camera, $event)" class="btn btn-primary">Test Connection</button>
            <button type="button" (click)="getPicture(camera, $event)" class="btn btn-primary">Picture</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary" (click)="setAddMode()">Add new camera</button>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-md-4">
    <div *ngIf="isAddMode || (selectedRowIndex != undefined)" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" *ngIf="isAddMode && (selectedRowIndex == undefined)">Add camera</h3>
        <h3 class="panel-title" *ngIf="(selectedRowIndex != undefined)">Edit camera</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form" (ngSubmit)="onSubmit(form)" novalidate>
          <div class="form-group">
            <label for="deviceId" class="control-label col-sm-4">Device ID</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="deviceId" id="deviceId" [(ngModel)]="camera.DeviceId" pattern="^[A-Za-z_\-0-9]+$"
                placeholder="Enter camera Id">
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="control-label col-sm-4">Camera name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="name" id="name" [(ngModel)]="camera.Name" placeholder="Enter camera name">
            </div>
          </div>
          <div class="form-group">
            <label for="motionEyeIdentifier" class="control-label col-sm-4">MotionEyeIdentifier</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="motionEyeIdentifier" id="motionEyeIdentifier" [(ngModel)]="camera.MotionEyeIdentifier"
                placeholder="Enter motion eye identifier" pattern="^[0-9]+$">
            </div>
          </div>
          <div class="form-group">
            <label for="address" class="control-label col-sm-4">Ip address</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="address" id="address" [(ngModel)]="camera.Address" placeholder="Enter ip address or hostname">
            </div>
          </div>
          <div class="form-group">
            <label for="enabled" class="control-label col-sm-4">Enabled</label>
            <div class=" col-sm-8">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="enabled" id="enabled" [(ngModel)]="camera.Enabled">
                </label>
              </div>
            </div>
          </div>
          <div class="pull-right">
            <button type="submit" id="submitBtn" name="submitBtn" class="btn btn-primary">Save</button>
            <button type="button" id="cancelBtn" name="cancelBtn" class="btn btn-default" (click)="cancelEdit()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>