<h2>Wallmount Switches</h2>

<style type="text/css">
  .top-buffer {
    margin-top: 20px;
  }
  
  .table tr.active td {
    background-color: #123456 !important;
    color: white;
  }

</style>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Device ID</th>
          <th>Name</th>
          <th>Node ID</th>
          <th>PollingTime</th>
          <th>Enabled</th>
          <th> </th>
          <th> </th>
          <th> </th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wallmount of wallmounts; let i=index" (click)="setClickedRow(i, wallmount)" [class.active]="i == selectedRowIndex">
          <td>{{wallmount.DeviceId}}</td>
          <td>{{wallmount.Name}}</td>
          <td>{{wallmount.NodeId}}</td>
          <td>{{wallmount.PollingTime}}</td>
          <td>{{wallmount.Enabled}}</td>
          <td>
            <button type="button" (click)="testConnection(wallmount, $event)" class="btn btn-primary">Test Connection</button>
          </td>
          <td>
            <button type="button" (click)="getState(wallmount, $event)" class="btn btn-primary">Get state (on or off)</button>
          </td>
          <td>
            <button type="button" (click)="switch(wallmount, 'on', $event)" class="btn btn-primary">Set to ON</button>
          </td>
          <td>
            <button type="button" (click)="switch(wallmount, 'off', $event)" class="btn btn-primary">Set to OFF</button>
          </td>
          <td>
            <button type="button" (click)="delete(wallmount, $event)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary" (click)="setAddMode()">Add new WallMount</button>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-md-4">
    <div *ngIf="isAddMode || (selectedRowIndex != undefined)" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" *ngIf="isAddMode && (selectedRowIndex == undefined)">Add Wallmount Switch</h3>
        <h3 class="panel-title" *ngIf="(selectedRowIndex != undefined)">Edit Wallmount Switch</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form" (ngSubmit)="onSubmit(form)" novalidate>
          <div class="form-group">
            <label for="deviceId" class="control-label col-sm-4">Device ID</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="deviceId" id="deviceId" [(ngModel)]="wallmount.DeviceId" pattern="^[A-Za-z_\-0-9]+$" placeholder="Enter Wallmount Switch Id">
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="control-label col-sm-4">Wallmount Switch name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="name" id="name" [(ngModel)]="wallmount.Name" placeholder="Enter Wallmount Switch name">
            </div>
          </div>
          <div class="form-group">
            <label for="port" class="control-label col-sm-4"> (OpenZWave) Node ID</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="nodeId" id="nodeId" [(ngModel)]="wallmount.NodeId" placeholder="Enter Wallmount Switch Node Id">
            </div>
          </div>
          <div class="form-group">
            <label for="pollingtime" class="control-label col-sm-4">Polling time</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="pollingTime" id="pollingTime" [(ngModel)]="wallmount.PollingTime" placeholder="Enter polling time in milliseconds">
            </div>
          </div>
          <div class="form-group">
            <label for="enabled" class="control-label col-sm-4">Enabled</label>
            <div class=" col-sm-8">
              <div class="checkbox">
                <label>
            <input type="checkbox" name="enabled" id="enabled" [(ngModel)]="wallmount.Enabled">
          </label>
              </div>
            </div>
          </div>
          <div class="pull-right">
            <button type="submit" id="submitBtn" name="submitBtn" class="btn btn-primary">Save</button>
            <button type="button" id="cancelBtn" name="cancelBtn" class="btn btn-default" (click)="cancelEdit()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
